.Onefeedfooter{
	height: 62px;	
	background-size: cover;	
	background-color: #3C80B5;

	ul{
		li{
			color:white !important;
			font-size: 14px;
			font-weight:normal !important;
    		float: left;
  			 padding-left: 33px;
			 padding-top: 25px;


		}
		 .Onefeedfooterright{
			 	float:right;
			 	padding-right: 42px;
			 }
	}
}
